In [4]:
import pandas as pd 
import numpy as np 
import sqlite3 as sql

# Use the raw URL for the CSV file
sales_url = 'https://raw.githubusercontent.com/RisheedharVarma/SQL-Assignments/main/sales.csv'

# Import the dataset
sales = pd.read_csv(sales_url) 
database ='./Database.db' # Creating a swl llite database connection 
connection_obj=sql.connect(database)

# convert the dataframe to sql db 
sales.to_sql('sales',connection_obj,if_exists='replace',index=False)

# SQL Sample code 
sql_code =  """ 
select 
    distinct city          
from sales 
order by city 
"""
# Cursor Object 
cursor_obj=connection_obj.cursor()
cursor_obj.execute(sql_code) # executes the code 
results = cursor_obj.fetchall()

df=pd.DataFrame(results,columns=['city'])
df

            city
0       Aberdeen
1        Abilene
2          Akron
3    Albuquerque
4     Alexandria
..           ...
524   Woonsocket
525      Yonkers
526         York
527      Yucaipa
528         Yuma

[529 rows x 1 columns]